body {
  text-align: center;
}

#header,#subheader {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  font-family: helvetica;
  color: white;
}

.title {
  font-size: 70px;
  font-weight: bold;
}

.navmenu {
  list-style-type: none;
}

a {
  color: white;
  font-size: 18px;
}

#subheader h3 {
  font-size: 23px;
  font-weight: bold;
}

#footer {
  font-family: helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}

#process,#content2 {
  color: dimgray;
  }

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}
