body {
  background-color: white;
  text-align: center;
}

#header,#subheader {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  font-family: helvetica;
  color: white;
}

h1,h2,h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

.navmenu {
  font-size: 18px;
  color: white;
  list-style-type: none;
}

.sub h3 {
  color: white;
}

a {
  color: white;
}
p {
  font-size: 14px;
}

h2,h3,p {
  color: gray;
}
